.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin-bottom: 2%;
}


.App-body {
  margin-top: -2%;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.formButton {
  margin: 5%;
}

.brandName {
  margin-left: 2%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
